.header{position:fixed;width:100%;z-index:1;top:0}
.header1{color:#000;background-color:#fff;font-size:24px;max-width:1200px;margin:auto}
.header3{text-align:center;padding-top:16px;padding-bottom:16px}

.main{margin-left:0;margin-right:0; max-width:980px; margin-left: auto;margin-right: auto;
    padding:8px 16px; max-width:1200px;margin-top:100px;}
.container1{padding: top 20px;padding-bottom:20px;display:inline-block;width:auto;
    text-align:center;margin-left: 150px;margin-top: 80px;}
.container2{float:left;width:100%;width:24.99999%;margin-right: 80px;}
.item-button{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;
    text-align: center;width:100%;white-space:normal;float:none;text-decoration:none;}
.item-button:hover{color:#000;background-color:#ccc}
.container3{display:inline-block;width:auto;text-align:center;padding-top:32px;
    padding-bottom:32px; margin-left: 47%;margin-bottom: 50px;}
.bar{width:100%;overflow:hidden;display:inline-block;width:auto; 
    margin-left: auto;margin-right: auto;}
.container4{padding:0.01em 16px;padding-top:32px;padding-bottom:32px;
    display:block;width:auto;text-align:center}
.container5{padding-top:32px;padding-bottom:32px}
.imagen{max-width:100%;height:auto;display:block;margin-left: 200px; float: left;}
body,h1,h2,h3,h4,h5,h6 {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif}
ul{list-style-type: none;}
.num-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;
    text-align: center;white-space:normal}
.num-item:hover{color:#fff;background-color:#000}
.num-item2{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0;
    text-align: center;color:#fff;background-color:#000;white-space:normal}


